:root {
  --dimension: 704px;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

/* .chess-board {
  width: var(--dimension);
  height: var(--dimension);
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  border: 1px solid white;
} */

.dragging{
  opacity: 0.7;
}

/* .board-row {
  display: flex;
} */
 
.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows: repeat(8, 1fr);     
  width: 640px;
  height: 640px;
  border: 2px solid black;
}