#chessboard{
    background-color: #779556;
    width: 100vh;
    height: 100vh;
    
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);

    color: black;

}

